@model IEnumerable<CustomerViewModel>

<div class="table-responsive">

    <table class="table table-bordered">
        <tr class="table-primary">
            <th>Référence</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="@(!item.IsActive ? "table-secondary" : "")">
                <td>@item.Reference</td>
                <td>@item.LastName</td>
                <td>@item.FirstName</td>
                <td>
                    <a class="btn btn-xs btn-success btn-sm" 
                       asp-action="Edit" 
                       asp-route-id="@item.Reference"
                    ><i class="fa fa-edit"></i></a>
                    @if (User.IsInRole("Admin"))
                    {
                        <a class="btn btn-xs btn-danger btn-sm" confirmation-required 
                           asp-action="Delete"
                           asp-route-id="@item.Reference"
                        ><i class="fa fa-trash"></i></a>
                    }
                </td>
            </tr>
        }
    </table>
</div>